<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fable_III_Patcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fable_III_Patcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<userSettings>
        <Fable_III_Patcher.My.MySettings>
                <setting name="Lang" serializeAs="String">
                        <value />
                </setting>
                <setting name="PatchComplete" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="username" serializeAs="String">
                        <value />
                </setting>
                <setting name="CurrentStep" serializeAs="String">
                        <value />
                </setting>
                <setting name="FableLocation" serializeAs="String">
                        <value />
                </setting>
        </Fable_III_Patcher.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Fable_III_Patcher.My.MySettings>
            <setting name="data" serializeAs="String">
                <value>f_files_downloads_33jhuf-_-ih83h2!uhgr7u9g3b</value>
            </setting>
        </Fable_III_Patcher.My.MySettings>
    </applicationSettings>
</configuration>